html,body{
    background-color: #004A7C;
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 250px;
    perspective: 1000px;
    border-radius: 10px;
    position: relative;
    left: 30%;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #E8F1F5;
    color: black;
    border-radius: 5px;
}
  
.flip-card-back {
    background-color: #E8F1F5;
    color: white;
    transform: rotateY(180deg);
    border-radius: 5px;
    border: 1px solid #E8F1F5;
    color: #004A7C;
}

#logo{
    width: 300px;
    margin-top: 16%;
}

form{
    background-color: #E8F1F5;
    width: min-content;
    padding: 5%;
    margin: 2% auto auto 19%;
    border-radius: 5px;
}

input,textarea{
    border: solid 1px #004A7C;
    border-radius: 5px;
}

#head{
    width: 200px;
    height: 26px;
    margin-bottom: 1%;
}

#button{
    padding: 10px 40px 10px 40px;
}