html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #E8F1F5;
    background-color: #E8F1F5;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sub{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #E8F1F5;
}

a:hover{
    color: black;
}

#menu{
    background-color: #004A7C;
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    opacity: 0;
    float: right;
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#items{
    margin: 50px 5px 5px 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    border-bottom: 0.5px solid #E8F1F5;
}

#item,#item1{
    font-size: 40px;
    color: #E8F1F5;
    margin: 5px 150px 5px 5px;
}

#item:hover,#item1:hover{
    color: hsl(198, 68%, 45%);
} 

#logo_menu{
    margin: 60px 5px 5px 60px;
    border-bottom: 0.5px solid white;
    padding-bottom: 50px;
}

#logo_menu_im{
    width: 150px;
}

#info{
    font-size: 15px;
    margin: 10px;
}

#icons_menu{
    margin: 15px auto auto 65px;
}

#icon_menu{
    width: 35px;
    margin: 5px;
}

.cont{
    height: 45px;
    width: 45px;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 40px;
    z-index: 4;
}

.line1,.line2,.line3{
    width: 35px;
    height: 2px;
    background-color: #E8F1F5;
    margin: 4px auto auto 5px;
    transition: 0.7s;
}

.line1{
    margin-top: 19px;
}

.change .line1{
    transform: rotate(-225deg) translate(5px,-3px);
}

.change .line2{
    transform: rotate(225deg) translate(5px,4px);
}

.change .line3{
    transform: translateX(500px);
}

#menu,#more,#more1,#more2{
    cursor: pointer;
}

#page1{
    height: 100%;
    background-color: #004A7C;
    background-image: url("img_prova2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    background-attachment: fixed;
    background-size: cover;
}

#page2{
    background-color: #004A7C;
    background-size: 100%;
    height: 520px;
}

#page3{
    height: 380px;
}

#page4{
    background-color: #004A7C;
    height: 600px;
}

#page5{
    height: 250px;
    color: #004A7C;
}

#up{
    height: 100px;
}

#left,#sx1,#sx,#more,#linea,#more1,#linea1,#sx2,#linea3,#more2,#titolo4{
    float: left;
}


.cont,#dx1,#subtitle,#subtitle1,#dx2,#logo_down{
    float: right;
}

#logo{
    position: absolute;
    top: 40px;
    left: 30px;
    width: 250px;
}

#sx{
    height: 350px;
    margin: 130px 0 0 115px;
}

#introduzione,#titolo3{
    margin: 0;
    font-size: 65px;
}

#titolo,#titolo1{
    font-size: 60px;
    margin: 0;
}

#more,#more1,#more2{
    transition: 0.3s;
    border: 1px solid #E8F1F5;
}

#more:hover,#more1:hover,#more2:hover{
    border: none;
    background-color: #dee7eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#more{
    font-size: 15px;
    padding: 12px 30px 12px 30px;   
    margin-top: 10px;
}

#more:hover{
    margin-left: 1px;
}

#img{
    margin: 130px auto auto 70px;
    height: 500px;
    width: 600px;
}

#dx1{
    margin: 60px 150px auto auto;
    height: 350px;
}

#titolo1{
    margin-bottom: 15px;
}

#linea{
    margin: 10px 0 auto 0;
    width: 35px;
    height: 180px;
    border-top: #E8F1F5 1px solid;
}

#subtitle{
    margin: 2px 82px 20px 15px;
    width: 400px;
    height: 140px;
    line-height: 20px;
}

#more1{
    margin: 25px auto auto 15px;
    padding: 10px 20px 10px 20px;
}

#more1:hover{
    margin-left: 16px;
}

#more2{
    padding: 10px 20px 10px 20px;
    margin-top: 0;
}

#more2:hover{
    margin-left: 1px;
}

#sx1,#dx2{
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
}

#sx1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 80px auto auto 50px;
    width: 600px;
    height: 500px;
    background-image: url("business.png");
    text-align: center;
}

#sx2{
    margin: 140px auto auto 190px;
    width: 400px;
}

#dx2{
    height: 600px;
    width: 500px;
    margin: -80px 100px auto auto;
    background-image: url("startup.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#linea3{
    width: 35px;
    height: 150px;
    border-top: 1px solid #E8F1F5;
    margin-top: 25px;
    margin-right: 20px;
}

#subtitle2{
    width: 400px;
    line-height: 20px;
}

#titolo4{
    margin: 30px auto 20px 50px;
}

#logo_down{
    margin: 30px 50% auto auto;
    width: 200px;
}

#contatti{
    clear: both;
    font-size: 18px;
    margin: 5px auto auto 50px;
}

#icons{
    margin-left: 10px;
}

#icon{
    float: right;
    width: 40px;
    margin: 5px;
}

#loading_screen{
    width: 100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:rgb(255, 255, 255);
    background-image:url("caricamento.gif");
    background-repeat:no-repeat;
    background-position:center;
    display: block;
}

#tit_3{
    margin-top: 100px;
    color: #004A7C;
    font-style: italic;
    font-size: 30px;
    margin-left: 27%;
}

@media screen and (max-width: 1025px){

    .change .line3{
        transform: translateX(0);
        opacity: 0;
    }

    #page1{
        height: 1150px;
        background-attachment: unset;
    }

    #page2{
        height: 1200px;
    }

    #page3{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1500px;
        width: 100%;
    }

    #page4{
        height: 1150px;
    }

    #logo{
        width: 50%;
    }

    #sx1{
        width: 89%;
        background-attachment: unset;
        background-image: url("business_mob.png");
    }

    #one,#two,#three{
        width: 100%;
        height: 500px;
        margin: 0;
    }

    #foto2,#foto3{
        width: 20%;
        margin-top: 60px;
    }

    #foto1{
        width: 21%;
        margin-top: 140px;
    }

    #foto1d,#foto2d,#foto3d{
        font-size: 32px;
    }

    #sx{
        height: 350px;
        margin: 500px 0 0 115px;
    }

    #introduzione{
        font-size: 80px;
    }

    #sub{
        font-size: 28px;
    }

    #more{
        font-size: 25px;
        padding: 15px 33px 15px 33px;   
        margin-top: 10px;
    }

    #dx1{
        float: left;
        margin: 40px auto auto 60px;
        height: 350px;
    }

    #titolo,#titolo1,#titolo3{
        font-size: 70px;
    }

    #subtitle,#subtitle2{
        font-size: 27px;
        margin: 2px 82px 80px 0;
        width: 600px;
        line-height: 30px;
    }

    #subtitle{
        height: 200px;
    }

    #subtitle2{
        height: 150px;
    }

    #linea,#linea3{
        margin-right: 30px;
        width: 50px;
        height: 280px;
    }

    #more1,#more2{
        font-size: 25px;
        margin: 25px auto auto 0;
        padding: 10px 20px 10px 20px;
    }

    #more1:hover{
        margin-left: 0;
    }

    #subtitle2{
        margin-top: 10px
    }

    #more2{
        margin-top: -20px;
    }

    #dx2{
        float: left;
        width: 87%;
        margin: 60px auto auto 60px;
        background-image: url("startup_mob.png");
        background-attachment: unset;
    }

    #sx2{
        margin: 40px auto auto 70px;
        width: 400px;
    }

    #menu{
        width: 100%;
    }
    
    #item1{
        font-size: 80px;
        margin: 10px;
    }
    
    #item{
        font-size: 80px;
        margin: 10px;
    }

    #logo_menu_im{
        width: 400px;
        margin-left: -20px;
    }
    
    #info{
        font-size: 35px;
    }

    #icon_menu{
        width: 60px;
        margin-top: 40px;
    }

    .cont{
        height: 75px;
        width: 75px;
        border-radius: 30px;
        cursor: pointer;
        position: absolute;
        top: 70px;
        right: 40px;
        z-index: 4;
    }
    
    .line1,.line2,.line3{
        width: 60px;
        height: 3px;
        background-color: #E8F1F5;
        margin: 4px auto auto 5px;
        transition: 0.7s;
    }
    
    .line1{
        margin-top: 19px;
    }
}





